*{
padding: 0;
margin: 0;
}

#load{
	position: fixed;
	padding-left:735px;
	font-family: "Papyrus";
	font-size: 20px;
	font-weight: 1000;

}
.center1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height:70px;
	width: 5%;
	position: center;
	margin-top: 300px;
}

.verticalcenter{
	margin:auto;
	margin-top: 280px;
	height: 100px;
	text-align: center;
	width: 150px;
	float: center;
}
.center11 {
	width: 140%;
	height:120px;
	float:center;
	padding: 10px;
	text-align: center;
}
.center {
	width: 110%;
	height:170px;
	float:center;
	padding: 10px;
	text-align: center;
}